/project_ifstring/nbproject/private/
/project_ifstring/build/
/looping_forjava/nbproject/private/
/looping_forjava/build/
/tugas looping punya ka mia/nbproject/private/
/while_and_dowhile/nbproject/private/
/while_and_dowhile/build/
/validation_java/nbproject/private/
/validation_java/build/
/animation_java/nbproject/private/
/animation_java/build/
/array/nbproject/private/
/array/build/
/matriks.per+.per-.perx/nbproject/private/
/matriks.per+.per-.perx/build/
/matriks_2d/nbproject/private/
/matriks_2d/build/
/method/nbproject/private/
/method/build/
/function/nbproject/private/
/function/build/
/method_1/nbproject/private/
/method_1/build/